<html>
<head>
    <title>全部新闻</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> 
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/all_news.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/component/return_home_btn.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/cursor_global.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/component/nav_bar.css' %}">

</head>
<body>

    <!-- 导航栏 -->
    <div id="nav_block" class="block flex_center_box">
        <div class="nav flex_center_box">
            <div class="nav_ul">
                <div class="nav_logo">
                    <img src="../static/images/csinfo-logo.png" alt="Logo" id="nav_logo_img">
                </div>
                <div class="nav_wing">
                    <div class="nav_li">
                        <h4 class="nav_button">
                            <a href="{% url 'home' %}" style="text-decoration: none; color: inherit;">首页</a>
                        </h4>
                    </div>
                    <div class="nav_li">
                        <h4 class="nav_button">
                            <a href="{% url 'home' %}all_news" style="text-decoration: none; color: inherit;">新闻</a>
                        </h4>
                    </div>
                    <div class="nav_li">
                        <h4 class="nav_button">
                            <a href="{% url 'home' %}all_matches" style="text-decoration: none; color: inherit;">赛事</a>
                        </h4>
                    </div>
                    <div class="nav_li">
                        <h4 href="main.html" class="nav_button">选手</h4>
                        <div class="dropdown_content">
                            <a href="{% url 'home' %}player_ranking" style="text-decoration: none; color: #ffffff;">选手排行</a>
                            <a href="{% url 'home' %}player/ZywOo" style="text-decoration: none; color: #ffffff;">每周选手</a>
                        </div>
                    </div>
                    <div class="nav_li">
                        <h4 href="main.html#choose_blocks" class="nav_button">队伍</h4>
                        <div class="dropdown_content">
                            <a href="{% url 'home' %}team_ranking" style="text-decoration: none; color: #ffffff;">队伍排行</a>
                            <a href="{% url 'home' %}team/Vitality" style="text-decoration: none; color: #ffffff;">每周战队</a>
                        </div>
                    </div>
                </div>
                <div class="nav_toggle" id="nav_toggle">&#9776;</div>
            </div>
        </div>
    </div>    
    <div class="nav_menu" id="nav_menu">
        <div class="nav_menu_item">
            <a href="{% url 'home' %}" class="nav_item_button" style="text-decoration: none;">首页</a>
        </div>
        <div class="nav_menu_item">
            <a href="{% url 'home' %}all_news" class="nav_item_button" style="text-decoration: none;">新闻</a>
        </div>
        <div class="nav_menu_item">
            <a href="{% url 'home' %}all_matches" class="nav_item_button" style="text-decoration: none;">赛事</a>
        </div>
        <div class="nav_menu_item">
            <a href="{% url 'home' %}player_ranking" class="nav_item_button">选手</a>
        </div>
        <div class="nav_menu_item">
            <a href="{% url 'home' %}team_ranking" class="nav_item_button">队伍 </a>
        </div>
    </div>
    <script src="{% static 'js/side_menu.js' %}"></script>

    <div class="flex min-h-screen">
        <!-- Left side navigation -->
        <div class="w-16 bg-[#dd6b20] h-screen sticky top-0 flex flex-col justify-between py-5 items-center overflow-auto">
            <!-- 返回主界面按钮 -->
            <a href="{% url 'home' %}" class="return-home">
                <i class="fas fa-home fa-2x"></i>
            </a>
        </div>


        <div class="flex-1 px-20 py-10 bg-[#ebebeb] overflow-hidden">
            <h1 class="text-3xl font-bold underline text-center my-8">ALL NEWS</h1>
            <div class="grid grid-cols-3 gap-8">
                {% for news in all_news %}
                <div class="news-block">
                    <a href="{% url 'news_detail' news.id %}" class="news-item">
                        <div class="background-img" style="background-image: url('{{ news.images.first.image.url }}');"></div>
                        <div class="news-content">
                            <h2 class="text-lg font-bold">{{ news.title }}</h2>
                            <p class="text-sm">{{ news.date|date:"Y-m-d" }}</p>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        
        
        <!-- Right side search -->
        <div class="w-60 bg-[#f2c38b] h-screen sticky top-0 p-5 overflow-auto flex flex-col">
            <div class="mb-4">
                <h2 class="mb-20"> </h2>
                <h2 class=" text-lg font-bold text-center mb-4">搜索新闻</h2>
                <form action="{% url 'all_news' %}" method="get">
                    <input type="text" name="search" placeholder="Search keywords..." class="p-2 border rounded w-full mb-4">
                    <select name="date" class="p-2 border rounded w-full mb-4">
                        <option value="">Time Fliter</option>
                        {% for date in dates %}
                        <option value="{{ date|date:'Y-m' }}">{{ date|date:'Y-m' }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="bg-[#dd6b20] hover:bg-[#fd3f01] text-white font-bold py-2 px-4 rounded w-full">
                        搜索
                    </button>
                </form>
                <a href="{% url 'all_news' %}" class="mt-4 block text-center bg-gray-300 hover:bg-gray-400 text-black font-bold py-2 px-4 rounded">
                    重置搜索
                </a>
            </div>
        </div>

    </div>

        <!-- 底栏 -->
    <footer class="bg-gray-800 text-white py-6">
        <div class="container mx-auto px-6">
            <div class="flex flex-wrap justify-between">
                <!-- 关于我们 -->
                <div class="w-full md:w-1/4 mb-6 md:mb-0 pr-6">
                    <h4 class="text-xl font-bold mb-2">关于我们</h4>
                    <p class="text-gray-400 text-sm">我们是一群热爱CS2的玩家，致力于创建一个为广大CS2爱好者提供最新资讯、比赛信息和交流平台的空间。我们希望通过我们的努力，让更多人了解并加入到CS2的世界中，共同体验这款游戏的魅力。无论你是新手还是资深玩家，都能在这里找到你感兴趣的内容和志同道合的朋友</p>
                </div>
                <!-- 快速链接 -->
                <div class="w-full md:w-1/4 mb-6 md:mb-0">
                    <h4 class="text-xl font-bold mb-2">快速链接</h4>
                    <ul class="text-gray-400 text-sm">
                        <li><a href="{% url 'home' %}" class="hover:text-white">首页</a></li>
                        <li><a href="{% url 'home' %}all_news" class="hover:text-white">新闻</a></li>
                        <li><a href="{% url 'home' %}all_matches" class="hover:text-white">赛事</a></li>
                        <li><a href="{% url 'home' %}player_ranking" class="hover:text-white">选手</a></li>
                        <li><a href="{% url 'home' %}team_ranking" class="hover:text-white">队伍</a></li>
                    </ul>
                </div>
                <!-- 联系我们 -->
                <div class="w-full md:w-1/4 mb-6 md:mb-0">
                    <h4 class="text-xl font-bold mb-2">联系我们</h4>
                    <p class="text-gray-400 text-sm">有任何问题或建议，请通过以下方式联系我们：</p>
                    <p class="text-gray-400 text-sm mt-2"><i class="fas fa-envelope mr-2"></i>frediercyangjl@gmail.com</p>
                </div>
                <!-- 社交媒体 -->
                <div class="w-full md:w-1/4 mb-6 md:mb-0">
                    <h4 class="text-xl font-bold mb-2">关注我们</h4>
                    <div class="flex space-x-4">
                        <a href="https://space.bilibili.com/21671570" class="text-gray-400 hover:text-white"><i class="fab fa-bilibili fa-2x"></i></a>
                        <a href="https://qm.qq.com/q/V6c8E3ADQY" class="text-gray-400 hover:text-white"><i class="fab fa-qq fa-2x"></i></a>
                        <a href="https://www.instagram.com/frederic_yjl?igsh=bjNiZDk5c3N2cng3&utm_source=qr" class="text-gray-400 hover:text-white"><i class="fab fa-instagram fa-2x"></i></a>
                    </div>
                </div>
            </div>
            <div class="mt-6 border-t border-gray-700 pt-4 text-center">
                <p>人机交互小组</p>
                <p>小组成员：2153293 苏子言, 2153601 洪杨, 2151531 栾佳浩, 2152969 李咏桓, 2152594 杨举列</p>
                <p>&copy; 2024 All rights reserved.</p>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/news_detail_vote.js'%}"></script>
</body>
</html>
