<!DOCTYPE html>
<html>

<head>
	<title>main page</title>
	<meta charset="utf-8">

	<script src="https://cdn.tailwindcss.com"></script>
	
	{% load static %}
	
	
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">   
	<link rel="stylesheet" type="text/css" href="{% static 'css/component/whole_page.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/component/change_button.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/component/nav_bar.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/component/flex_center_box.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/component/layer_block.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/component/card.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/component/back_to_top_btn.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/component/more_matches_btn.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/component/carousel.css' %}">

    
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">



</head>

<body>
	<!-- 顶部广告 -->
    <div id="topCarousel" class="carousel slide top-carousel" data-ride="carousel">
        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#topCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#topCarousel" data-slide-to="1"></li>
            <li data-target="#topCarousel" data-slide-to="2"></li>
            <li data-target="#topCarousel" data-slide-to="3"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="#">
                    <video class="d-block w-100" autoplay muted loop>
                        <source src="https://img.csgo.com.cn/csgostatic/csgo/610a5be3-7b00-4b3a-ae5e-09616afef48e.webm" type="video/webm">
                        Your browser does not support the video tag.
                    </video>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>最经久不衰的电子竞技</h5>
                        <p>20多年来，反恐精英向全球数百万玩家提供了一种出类拔萃的竞技体验。</p>
                    </div>
                </a>
            </div>
            <div class="carousel-item">
                <a href="#">
                    <img src="{% static 'images/top_news/002.jpg' %}" alt="Slide 2" class="d-block w-100">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>内容标题设置1</h5>
                        <p>内容解释正文</p>
                    </div>
                </a>
            </div>
            <div class="carousel-item">
                <a href="#">
                    <img src="{% static 'images/top_news/003.jpg' %}" alt="Slide 3" class="d-block w-100">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>内容标题设置2</h5>
                        <p>内容解释正文</p>
                    </div>
                </a>
            </div>
            <div class="carousel-item">
                <a href="#">
                    <img src="{% static 'images/top_news/004.jpg' %}" alt="Slide 4" class="d-block w-100">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>内容标题设置3</h5>
                        <p>内容解释正文</p>
                    </div>
                </a>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#topCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#topCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


	<!-- 回到顶部按钮 -->
    <button id="back-to-top" class="back-to-top-btn bg-gray-800 text-white p-2 rounded-full fixed bottom-4 right-4 transition-colors duration-300" style="text-decoration: none;>
        <i class="fas fa-arrow-up"></i>
    </button>
    <script src="{% static 'js/back_to_top_btn.js' %}" type="text/javascript"></script>




	<!-- 导航栏 -->
	<div id="nav_block" class="block flex_center_box">
		<div class="nav flex_center_box">
			<div class="nav_ul">
				<div class="nav_logo">
					<img src="../static/images/csinfo-logo.png" alt="Logo" id="nav_logo_img">
				</div>
				<div class="nav_wing">

					<div class="nav_li">
						<h4 href="main.html#top_top_block" class="nav_button">首页</h4>
					</div>
					<div class="nav_li">
						<h4 href="main.html#news_block" class="nav_button">新闻</h4>
						<div class="dropdown_content">
							<a href="#">子菜单1</a>
							<a href="#">子菜单2</a>
							<a href="#">子菜单3</a>
						</div>
					</div>
					<div class="nav_li">
						<h4 href="main.html#time_block" class="nav_button">赛事</h4>
						<div class="dropdown_content">
							<a href="#">子菜单1</a>
							<a href="#">子菜单2</a>
							<a href="#">子菜单3</a>
						</div>
					</div>
					<div class="nav_li">
						<h4 href="main.html#mid_block" class="nav_button">选手</h4>
						<div class="dropdown_content">
							<a href="#">选手排行</a>
						</div>
					</div>
					<div class="nav_li">
						<h4 href="main.html#choose_block" class="nav_button">队伍</h4>
						<div class="dropdown_content">
							<a href="#">队伍排行</a>
						</div>
					</div>
				</div>
				<div class="nav_toggle" id="nav_toggle">&#9776;</div>
			</div>

		</div>
	</div>


	<div class="nav_menu" id="nav_menu">

		<div class="nav_menu_item">
			<a href="main.html#top_top_block" class="nav_item_button">首页 </a>
			<div class="dropdown_content">
				<a href="#">子菜单1</a>
				<a href="#">子菜单2</a>
				<a href="#">子菜单3</a>
			</div>
		</div>
		<div class="nav_menu_item">
			<a href="main.html#news_block" class="nav_item_button">新闻</a>
			<div class="dropdown_content">
				<a href="#">子菜单1</a>
				<a href="#">子菜单2</a>
				<a href="#">子菜单3</a>
			</div>
		</div>
		<div class="nav_menu_item">
			<a href="main.html#time_block" class="nav_item_button">赛事</a>
			<div class="dropdown_content">
				<a href="#">子菜单1</a>
				<a href="#">子菜单2</a>
				<a href="#">子菜单3</a>
			</div>
		</div>
		<div class="nav_menu_item">
			<a href="main.html#mid_block" class="nav_item_button">选手</a>
			<div class="dropdown_content">
				<a href="#">选手排行</a>
			</div>
		</div>
		<div class="nav_menu_item">
			<a href="main.html#choose_block" class="nav_item_button">队伍 </a>
			<div class="dropdown_content">
				<a href="#">队伍排行</a>
			</div>
		</div>
	</div>

	<script src="{% static 'js/side_menu.js' %}"></script>

	
	
	<!-- 主体部分 -->
	<!-- 新闻 -->
	<div id="news_block" class="block flex_center_box">
		<div id="news_block_background" class="flex_center_box">
			<div class="block_title">
				<h1>赛场新闻</h1>
			</div>

			<div class="news_block_big flex_center_box">
				<div class="card_width">
					<!-- 链接 -->
					<a href="{% url 'news_detail' news_1.id %}">
						<div class="card_header_width">
							<!-- 图片 -->
							<img src="{{ news_1.images.first.image.url }}" class="card_img"></img>
						</div>
						<div class="card_body_width">
							<!-- 内容一 -->
							<div class="card_title">
								<h1>{{ news_1.title }}</h1>
							</div>
							<div class="card_content">
								<p>&emsp;&emsp;{{ news_1.date|date:"Y-m-d" }}</p>
							</div>
							<div class="card_bottom">
								<p></p>
							</div>
						</div>
					</a>
				</div>

				<div class="card_width">
					<!-- 链接 -->
					<a href="{% url 'news_detail' news_2.id %}">
						<div class="card_header_width">
							<!-- 图片 -->
							<img src="{{ news_2.images.first.image.url }}" class="card_img"></img>
						</div>
						<div class="card_body_width">
							<!-- 内容一 -->
							<div class="card_title">
								<h1>{{ news_2.title }}</h1>
							</div>
							<div class="card_content">
								<p>&emsp;&emsp;{{ news_2.date|date:"Y-m-d" }}</p>
							</div>
							<div class="card_bottom">
								<p></p>
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="news_block_small flex_center_box">
				<div class="card">
					<a href="{% url 'news_detail' news_1.id %}"> 
						<div class="card_header">
							<img src="{{ news_1.images.first.image.url }}" class="card_img"></img>
						</div>
						<div class="card_body">
							<div class="card_title">
								<h1>{{ news_1.title }}</h1>
							</div>
							<div class="card_content">
								<p>&emsp;&emsp;{{ news_1.date|date:"Y-m-d" }}</p>
							</div>
							<div class="card_bottom">
								<p></p>
							</div>
						</div>
					</a>
				</div>

				<div class="card">
					<a href="{% url 'news_detail' news_2.id %}"> 
						<div class="card_header">
							<img src="{{ news_2.images.first.image.url }}" class="card_img"></img>
						</div>
						<div class="card_body">
							<div class="card_title">
								<h1>{{ news_2.title }}</h1>
							</div>
							<div class="card_content">
								<p>&emsp;&emsp;{{ news_2.date|date:"Y-m-d" }}</p>
							</div>
							<div class="card_bottom">
								<p></p>
							</div>
						</div>
					</a>
				</div>

				<div class="card">
					<a href="{% url 'news_detail' news_3.id %}"> 
						<div class="card_header">
							<img src="{{ news_3.images.first.image.url }}" class="card_img"></img>
						</div>
						<div class="card_body">
							<div class="card_title">
								<h1>{{ news_3.title }}</h1>
							</div>
							<div class="card_content">
								<p>&emsp;&emsp;{{ news_3.date|date:"Y-m-d" }}</p>
							</div>
							<div class="card_bottom">
								<p></p>
							</div>
						</div>
					</a>
				</div>

				<div class="card">
					<a href="{% url 'news_detail' news_4.id %}"> 
						<div class="card_header">
							<img src="{{ news_4.images.first.image.url }}" class="card_img"></img>
						</div>
						<div class="card_body">
							<div class="card_title">
								<h1>{{ news_4.title }}</h1>
							</div>
							<div class="card_content">
								<p>&emsp;&emsp;{{ news_4.date|date:"Y-m-d" }}</p>
							</div>
							<div class="card_bottom">
								<p></p>
							</div>
						</div>
					</a>
				</div>

			</div>

			<div class="flex items-center justify-center">
				<a href="{% url 'all_news' %}" class="bg-gray-800 text-white font-semibold py-2 px-4 text-sm rounded transition duration-300 ease-in-out hover:bg-orange-600 no-underline" style="text-decoration: none;">
					全部新闻
				</a>
			</div>
			
		</div>
	</div>


	<!-- 比赛部分 -->
    <!-- 外层白色背景容器 -->
    <div class="outer-container">
        
        <div class="relative mx-auto" style="max-width: 90%; box-shadow: 0 4px 6px rgba(228, 135, 23, 0.8); background-color: rgb(228, 135, 23);">

            <div id="matchCarousel" class="carousel slide match-carousel relative mx-auto" data-ride="carousel" data-interval="false">
                
                <!-- Indicators/dots -->
                <ul class="carousel-indicators">
                    {% for group in grouped_matches %}
                    <li data-target="#matchCarousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.counter0 == initial_group_index %}class="active"{% endif %}></li>
                    {% endfor %}
                </ul>
        
                <!-- The slideshow/carousel -->
                <div class="carousel-inner">
                    {% for group in grouped_matches %}
                    <div class="carousel-item {% if forloop.counter0 == initial_group_index %}active{% endif %}">
                        <div class="d-flex justify-around flex-wrap">
                            {% for match in group %}
                            <div class="bg-white rounded-lg p-4 shadow-lg match-block">
                                <div class="text-center text-lg font-semibold mb-2">{{ match.match_name_big }}</div>
                                <div class="text-center text-sm text-gray-500 mb-2">{{ match.match_name_small }}</div>
                                <div class="text-center text-sm text-gray-500 mb-4">{{ match.time|date:"m-d H:i" }}</div>
                                <div class="flex items-center justify-center space-x-4 mb-2">
                                    <div class="text-center">
                                        <img src="{{ match.team1.images.first.image.url }}" alt="{{ match.team1.name }} logo" class="w-12 h-12 rounded-full shadow-md mb-1">
                                        <div class="text-sm font-medium">{{ match.team1.name }}</div>
                                    </div>
                                    {% if match.state == '已结束' %}
                                        <div class="text-xl font-bold">{{ match.score_1 }} : {{ match.score_2 }}</div>
                                    {% else %}
                                        <div class="text-3xl font-bold">VS</div>
                                    {% endif %}
                                    <div class="text-center">
                                        <img src="{{ match.team2.images.first.image.url }}" alt="{{ match.team2.name }} logo" class="w-12 h-12 rounded-full shadow-md mb-1">
                                        <div class="text-sm font-medium">{{ match.team2.name }}</div>
                                    </div>
                                </div>
                                <div class="flex items-center justify-center">
                                    <a href="{{ match.link }}" class="bg-gray-800 text-white font-semibold py-2 px-4 text-sm rounded transition duration-300 ease-in-out hover:bg-orange-600 no-underline" style="text-decoration: none;">
                                        回放
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
        
            </div>
    
            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#matchCarousel" role="button" data-slide="prev" style="width: 5%; left: 15px;">
                <span class="carousel-control-prev-icon" aria-hidden="true" style="width: 50px; height: 50px; background-color: rgb(228, 135, 23);"></span>
            </a>
            <a class="carousel-control-next" href="#matchCarousel" role="button" data-slide="next" style="width: 5%; right: 15px;">
                <span class="carousel-control-next-icon" aria-hidden="true" style="width: 50px; height: 50px; background-color: rgb(228, 135, 23);"></span>
            </a>

        </div>

        <!-- 更多比赛按钮 -->
        <a href="{% url 'all_matches' %}" class="more-matches-btn">
            更多比赛
        </a>
    </div>


    <!--队伍和选手-->
	<style>
        /* 额外的自定义CSS */
        #choose_blocks {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 16px;  /* 增加子元素间距 */
        }

        .choose_block {
            flex: 1 1 100%;  /* 默认情况下占据100%的宽度 */
            max-width: 100%; /* 确保最大宽度为100% */
        }

        @media (min-width: 768px) {
            .choose_block {
                flex: 1 1 48%;  /* 在中等屏幕及以上时，子元素占据48%的宽度 */
                max-width: 48%;
            }
        }
    </style>
    <div id="choose_blocks" class="flex flex-wrap justify-center space-x-4">
        <div class="choose_block flex_center_box half_box w-full md:w-1/2">
            <div class="block_title extra_add_padding">
                <h1>选手排名</h1>
            </div>
            <div class="mg"></div>
            <!-- Example players, replace with actual data -->
            <div class="ranking_title">
                <div style="text-align: left;">近3个月rating</div>
            </div>
            <div class="ranking_item flex items-center justify-between cursor-pointer" onclick="redirect(1)">
                <img src="../static/images/advent.webp" style="width: 40px;">
                <div style="text-align: left;">1.advent</div>
                <div style="position: relative;">2.59</div>
            </div>
            <div class="ranking_item flex items-center justify-between cursor-pointer" onclick="redirect(2)">
                <img src="../static/images/advent.webp" style="width: 40px;">
                <div style="text-align: left;">2.advent</div>
                <div style="position: relative;">2.59</div>
            </div>
			<div class="ranking_item flex items-center justify-between cursor-pointer" onclick="redirect(2)">
                <img src="../static/images/advent.webp" style="width: 40px;">
                <div style="text-align: left;">2.advent</div>
                <div style="position: relative;">2.59</div>
            </div>
			<div class="ranking_item flex items-center justify-between cursor-pointer" onclick="redirect(2)">
                <img src="../static/images/advent.webp" style="width: 40px;">
                <div style="text-align: left;">2.advent</div>
                <div style="position: relative;">2.59</div>
            </div>
			<div class="ranking_item flex items-center justify-between cursor-pointer" onclick="redirect(2)">
                <img src="../static/images/advent.webp" style="width: 40px;">
                <div style="text-align: left;">2.advent</div>
                <div style="position: relative;">2.59</div>
            </div>
			<div class="ranking_item flex items-center justify-between cursor-pointer" onclick="redirect(2)">
                <img src="../static/images/advent.webp" style="width: 40px;">
                <div style="text-align: left;">2.advent</div>
                <div style="position: relative;">2.59</div>
            </div>
			<div class="ranking_item flex items-center justify-between cursor-pointer" onclick="redirect(2)">
                <img src="../static/images/advent.webp" style="width: 40px;">
                <div style="text-align: left;">2.advent</div>
                <div style="position: relative;">2.59</div>
            </div>
			<div class="ranking_item flex items-center justify-between cursor-pointer" onclick="redirect(2)">
                <img src="../static/images/advent.webp" style="width: 40px;">
                <div style="text-align: left;">2.advent</div>
                <div style="position: relative;">2.59</div>
            </div>
            <!-- Add more ranking items as needed -->
            <a href="#" id="full_player_rankings" class="show_full_rank">查看完整排行</a>
        </div>

        <div class="choose_block flex_center_box half_box w-full md:w-1/2">
            <div class="block_title extra_add_padding">
                <h1>队伍排名</h1>
            </div>
            <div class="mg"></div>
            <!-- Example teams, replace with actual data -->
            <div class="ranking_title">
                <div style="text-align: left;">HLTV积分</div>
            </div>
            <div class="ranking_item flex items-center justify-between cursor-pointer" onclick="redirect(1)">
                <img src="../static/images/tyloo.svg" style="width: 40px;">
                <div style="text-align: left;">1.Tyloo</div>
                <div style="position: relative;">2.59</div>
            </div>
            <div class="ranking_item flex items-center justify-between cursor-pointer" onclick="redirect(2)">
                <img src="../static/images/tyloo.svg" style="width: 40px;">
                <div style="text-align: left;">2.Tyloo</div>
                <div style="position: relative;">2.59</div>
            </div>
			<div class="ranking_item flex items-center justify-between cursor-pointer" onclick="redirect(1)">
                <img src="../static/images/tyloo.svg" style="width: 40px;">
                <div style="text-align: left;">1.Tyloo</div>
                <div style="position: relative;">2.59</div>
            </div>
			<div class="ranking_item flex items-center justify-between cursor-pointer" onclick="redirect(1)">
                <img src="../static/images/tyloo.svg" style="width: 40px;">
                <div style="text-align: left;">1.Tyloo</div>
                <div style="position: relative;">2.59</div>
            </div>
			<div class="ranking_item flex items-center justify-between cursor-pointer" onclick="redirect(1)">
                <img src="../static/images/tyloo.svg" style="width: 40px;">
                <div style="text-align: left;">1.Tyloo</div>
                <div style="position: relative;">2.59</div>
            </div>
			<div class="ranking_item flex items-center justify-between cursor-pointer" onclick="redirect(1)">
                <img src="../static/images/tyloo.svg" style="width: 40px;">
                <div style="text-align: left;">1.Tyloo</div>
                <div style="position: relative;">2.59</div>
            </div>
			<div class="ranking_item flex items-center justify-between cursor-pointer" onclick="redirect(1)">
                <img src="../static/images/tyloo.svg" style="width: 40px;">
                <div style="text-align: left;">1.Tyloo</div>
                <div style="position: relative;">2.59</div>
            </div>
			<div class="ranking_item flex items-center justify-between cursor-pointer" onclick="redirect(1)">
                <img src="../static/images/tyloo.svg" style="width: 40px;">
                <div style="text-align: left;">1.Tyloo</div>
                <div style="position: relative;">2.59</div>
            </div>
            <!-- Add more ranking items as needed -->
            <a href="#" id="full_team_rankings" class="show_full_rank">查看完整排行</a>
        </div>
    </div>
    <script src="{% static 'js/player_team_mainpage.js' %}" type="text/javascript"></script>



	<div id="bottom_block" class="block flex_center_box_v">
		<p>人机交互小组</p>
		<p>小组成员：2153293 苏子言 2153601 洪杨 2151531 栾佳浩</p>
		<p>2152969 李咏桓 2152594 杨举列</p>
	</div>
		


	



</body>

</html>