<!DOCTYPE html>
<html>

<head>
    <title>main page</title>
    <meta charset="utf-8">

    <script src="https://cdn.tailwindcss.com"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/component/whole_page.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/component/change_button.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/component/nav_bar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/component/flex_center_box.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/component/layer_block.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/component/back_to_top_btn.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/component/more_matches_btn.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/component/carousel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/cursor_global.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_rank.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/all_matches.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>

    <button id="back-to-top"
        class="back-to-top-btn bg-gray-800 text-white p-2 rounded-full fixed bottom-4 right-4 transition-colors duration-300"
        style="text-decoration: none;">
        <i class=" fas fa-arrow-up"></i>
    </button>
    <script src="{% static 'js/back_to_top_btn.js' %}" type="text/javascript"></script>

    <!-- 导航栏 -->
    <div id="nav_block" class="block flex_center_box">
        <div class="nav flex_center_box">
            <div class="nav_ul">
                <div class="nav_logo">
                    <img src="{%static 'images/csinfo-logo.png'%}" alt="Logo" id="nav_logo_img">
                </div>
                <div class="nav_wing">

                    <div class="nav_li">
                        <h4 class="nav_button"><a href="{% url 'home' %}" style="text-decoration: none;">首页</a></h4>
                    </div>
                    <div class="nav_li">
                        <h4 class="nav_button"><a href="{% url 'home' %}all_news" style="text-decoration: none;">新闻</a>
                        </h4>
                    </div>
                    <div class="nav_li">
                        <h4 class="nav_button"><a href="{% url 'home' %}all_matches"
                                style="text-decoration: none;">赛事</a></h4>
                    </div>
                    <div class="nav_li">
                        <h4 href="main.html" class="nav_button">选手</h4>
                        <div class="dropdown_content">
                            <a href="{% url 'home' %}player_ranking">选手排行</a>
                            <a href="{% url 'home' %}player/ZywOo">每周选手</a>
                        </div>
                    </div>
                    <div class="nav_li">
                        <h4 href="main.html#choose_blocks" class="nav_button">队伍</h4>
                        <div class="dropdown_content">
                            <a href="{% url 'home' %}team_ranking">队伍排行</a>
                            <a href="{% url 'home' %}team/Vitality">每周战队</a>
                        </div>
                    </div>
                </div>
                <div class="nav_toggle" id="nav_toggle">&#9776;</div>
            </div>

        </div>
    </div>
    <div class="nav_menu" id="nav_menu">
        <div class="nav_menu_item">
            <a href="{% url 'home' %}" class="nav_item_button" style="text-decoration: none;">首页</a>
        </div>
        <div class="nav_menu_item">
            <a href="{% url 'home' %}all_news" class="nav_item_button" style="text-decoration: none;">新闻</a>
        </div>
        <div class="nav_menu_item">
            <a href="{% url 'home' %}all_matches" class="nav_item_button" style="text-decoration: none;">赛事</a>
        </div>
        <div class="nav_menu_item">
            <a href="{% url 'home' %}player_ranking" class="nav_item_button">选手</a>
        </div>
        <div class="nav_menu_item">
            <a href="{% url 'home' %}team_ranking" class="nav_item_button">队伍 </a>
        </div>
    </div>
    <script src="{% static 'js/team_rank.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {

            var images = document.getElementsByTagName('img');

            for (var i = 0; i < images.length; i++) {
                var img = images[i];
                var id = img.id;
                console.log(id)
                // 检查 id 是否以 "team" 开头
                if (id.startsWith('team')) {
                    var teamName = id.substring(4); // 获取 "team" 之后的部分
                    console.log(teamName)
                    var webpPath = `../../static/images/${teamName}.webp`;
                    var svgPath = `../../static/images/${teamName}.svg`;

                    loadImage(id, webpPath, svgPath);
                }
            }
        });
    </script>
    <script src="{% static 'js/side_menu.js' %}"></script>
    <script src="{% static 'js/team_rank.js' %}"></script>
    <script src="{% static 'js/player_team_mainpage.js' %}" type="text/javascript"></script>
    <div class="container mx-auto px-4 py-8">
        <div class="grid grid-cols-8 gap-8">
            <!-- 左边部分：排名 -->
            <div class="col-span-6 bg-white p-4 shadow-lg rounded-lg">

                <div class="ranking-container space-y-4 justify-center">
                    <div class="team-header flex items-center justify-center">
                        <div class="team-name text-lg font-bold" style="font-size: xx-large;">
                            <h1>{{team.name}}</h1>
                        </div>
                        <div class="team-logo">
                            <img id='team{{team.name}}' alt="FaZe" class="w-8 h-8">
                        </div>
                    </div>
                    <div class="team-points text-lg font-semibold">团队成员:</div>
                    <div class="flex container justify-between" style="margin: 0;padding: 0;">

                        <div class="player text-center" style="margin: 0;"
                            onclick="redirect(`{% url 'home' %}player/{{players.0.nickname}}`)">
                            <img src="../../static/images/player/head/{{players.0.nickname}}.webp" class="  mx-auto">
                            <div
                                style="display: flex;width: 80%;background-color: rgb(137, 169, 176);align-items: center;flex-direction: column;margin: 10%;border-radius: 5px;">
                                <h3 class="mt-1">{{players.0.nickname}}</h36>
                                    <img src="../../static/images/flags/{{players.0.nationality}}.png"
                                        class="w-6 h-6 mx-auto"
                                        style="border-radius: 0;margin-top:5px;margin-bottom: 5px;">
                            </div>
                        </div>
                        <div class="player text-center" style="margin: 0;"
                            onclick="redirect(`{% url 'home' %}player/{{players.1.nickname}}`)">
                            <img src="../../static/images/player/head/{{players.1.nickname}}.webp" class="  mx-auto">
                            <div
                                style="display: flex;width: 80%;background-color: rgb(137, 169, 176);align-items: center;flex-direction: column;margin: 10%;border-radius: 5px;">
                                <h3 class="mt-1">{{players.1.nickname}}</h3>
                                <img src="../../static/images/flags/{{players.1.nationality}}.png"
                                    class="w-6 h-6 mx-auto" style="border-radius: 0;margin-top:5px;margin-bottom: 5px;">
                            </div>
                        </div>
                        <div class="player text-center" style="margin: 0;"
                            onclick="redirect(`{% url 'home' %}player/{{players.2.nickname}}`)">
                            <img src="../../static/images/player/head/{{players.2.nickname}}.webp" class="  mx-auto">
                            <div
                                style="display: flex;width: 80%;background-color: rgb(137, 169, 176);align-items: center;flex-direction: column;margin: 10%;border-radius: 5px;">
                                <h3 class="mt-1">{{players.2.nickname}}</h3>
                                <img src="../../static/images/flags/{{players.2.nationality}}.png"
                                    class="w-6 h-6 mx-auto" style="border-radius: 0;margin-top:5px;margin-bottom: 5px;">
                            </div>
                        </div>
                        <div class="player text-center" style="margin: 0;"
                            onclick="redirect(`{% url 'home' %}player/{{players.3.nickname}}`)">
                            <img src="../../static/images/player/head/{{players.3.nickname}}.webp" class="  mx-auto">
                            <div
                                style="display: flex;width: 80%;background-color: rgb(137, 169, 176);align-items: center;flex-direction: column;margin: 10%;border-radius: 5px;">
                                <h3 class="mt-1">{{players.3.nickname}}</h3>
                                <img src="../../static/images/flags/{{players.3.nationality}}.png"
                                    class="w-6 h-6 mx-auto" style="border-radius: 0;margin-top:5px;margin-bottom: 5px;">
                            </div>
                        </div>
                        <div class="player text-center" style="margin: 0;"
                            onclick="redirect(`{% url 'home' %}player/{{players.4.nickname}}`)">
                            <img src="../../static/images/player/head/{{players.4.nickname}}.webp" class="  mx-auto">
                            <div
                                style="display: flex;width: 80%;background-color: rgb(137, 169, 176);align-items: center;flex-direction: column;margin: 10%;border-radius: 5px;">
                                <h3 class="mt-1">{{players.4.nickname}}</h3>
                                <img src="../../static/images/flags/{{players.4.nationality}}.png"
                                    class="w-6 h-6 mx-auto" style="border-radius: 0;margin-top:5px;margin-bottom: 5px;">
                            </div>
                        </div>

                    </div>
                    <!-- 继续添加其他队伍 -->
                </div>
                <div class="grid grid-cols-8">
                    <div class="flex col-span-2 p-4  rounded-lg justify-between"
                        style="margin-left: 10px;background-color: antiquewhite;flex-direction: row;">
                        <h3 style="background-color: #a2b8d1;border-radius: 10px;padding: 10px;"> 排名</h3>
                        <h3 style="background-color: #d94b89;padding: 10px;"> {{team.ranking}}</h3>
                    </div>
                    <div class="flex col-span-3 p-4  rounded-lg justify-between"
                        style="margin-left: 10px;background-color: antiquewhite;">
                        <h3 style="background-color: #a2b8d1;border-radius: 10px;padding: 10px;">积分</h3>
                        <h3 style="background-color: #d94b89;padding: 10px;"> 1000</h3>
                    </div>
                    <div class="flex col-span-3 p-4  rounded-lg justify-between"
                        style="margin-left: 10px;background-color: antiquewhite;">
                        <h3 style="background-color: #a2b8d1;border-radius: 10px;padding: 10px;">教练</h3>
                        <h3 style="background-color: #d94b89;padding: 10px;font-weight: 500;"> {{team.coach_name}}</h3>
                    </div>
                </div>
                <div class="flex" style="align-items: center;white-space: pre-line;justify-content:space-around;">
                    <h1 style="background-color: #c80e0e;border-radius: 10px;padding: 10px;margin-top: 50px;">团队荣誉</h1>

                </div>
                <div class="flex" style="align-items: center;white-space: pre-line;justify-content:space-around;">
                    <h5
                        style="background-color: mintcream;border-radius: 10px;padding: 10px;padding-bottom:50px;margin: 50px;">
                        {{team.description}}</h5>

                </div>
                <div class="flex" style="align-items: center;white-space: pre-line;justify-content:space-around;">
                    <h1
                        style="background-color: rgb(228, 135, 23);border-radius: 10px;padding: 10px;margin-top: 50px;margin-bottom: 50px;">
                        最近比赛</h1>

                </div>
                {% for match in matches%}
                <div class="bg-white p-4 flex items-center justify-between text-gray-800 rounded-lg shadow-md match-item transition-transform transform hover:scale-105"
                    data-date="{{ match.time.date }}">
                    <div class="flex items-center space-x-4">
                        <div class="text-gray-500 text-sm">{{ match.time }}</div>
                        <div class="font-bold text-lg">{{ match.match_name_big }}</div>
                    </div>
                    <div class="flex items-center space-x-2 flex-center">
                        <img src="{{ match.team1.images.first.image.url }}" class="h-8 w-8 rounded-full">
                        <div class="text-md">{{ match.team1.name }}</div>
                        <div class="font-bold text-lg">{{ match.score_1 }} : {{ match.score_2 }}</div>
                        <div class="text-md">{{ match.team2.name }}</div>
                        <img src="{{ match.team2.images.first.image.url }}" class="h-8 w-8 rounded-full">
                    </div>
                    <button
                        class="bg-blue-500 text-white px-4 py-2 rounded-lg shadow-lg hover:bg-blue-600 transition-colors video-play"
                        data-video-url="{{ match.link }}">视频回放</button>
                </div>
                {% endfor %}

            </div>
            <script type="text/javascript">
                // Video play button event
                $(".video-play").on("click", function () {
                    var videoUrl = $(this).data("video-url");
                    window.open(videoUrl, "_blank", "width=800,height=600");
                });
            </script>
            <!-- 右边部分：新闻 -->
            <div class="col-span-2 bg-white p-4 shadow-lg rounded-lg">
                <h2 class="text-xl font-bold mb-4"
                    style="background-color:rgb(247, 148, 30);width: 100%;text-align: center;">相关新闻</h2>
                <div class="grid grid-cols-1 gap-6">
                    <div
                        class="relative shadow-lg transform transition-transform duration-300 hover:scale-105 hover:shadow-2xl rounded-lg">
                        <a href="{% url 'news_detail' news_3.id %}" class="block group w-full"
                            style="color: inherit; text-decoration: none;">
                            <div class="overflow-hidden h-40 rounded-t-lg">
                                <img src="{{ news_3.images.first.image.url }}"
                                    class="w-full h-full object-cover transform transition-transform duration-500 group-hover:scale-110 rounded-t-lg">
                            </div>
                            <div class="p-2 bg-white rounded-b-lg">
                                <h1 class="text-lg font-bold">{{ news_3.title }}</h1>
                                <p class="mt-1 text-gray-600">{{ news_3.date|date:"Y-m-d" }}</p>
                            </div>
                        </a>
                    </div>
                    <div
                        class="relative shadow-lg transform transition-transform duration-300 hover:scale-105 hover:shadow-2xl rounded-lg">
                        <a href="{% url 'news_detail' news_4.id %}" class="block group w-full"
                            style="color: inherit; text-decoration: none;">
                            <div class="overflow-hidden h-40 rounded-t-lg">
                                <img src="{{ news_4.images.first.image.url }}"
                                    class="w-full h-full object-cover transform transition-transform duration-500 group-hover:scale-110 rounded-t-lg">
                            </div>
                            <div class="p-2 bg-white rounded-b-lg">
                                <h1 class="text-lg font-bold">{{ news_4.title }}</h1>
                                <p class="mt-1 text-gray-600">{{ news_4.date|date:"Y-m-d" }}</p>
                            </div>
                        </a>
                    </div>
                    <div
                        class="relative shadow-lg transform transition-transform duration-300 hover:scale-105 hover:shadow-2xl rounded-lg">
                        <a href="{% url 'news_detail' news_1.id %}" class="block group w-full"
                            style="color: inherit; text-decoration: none;">
                            <div class="overflow-hidden h-40 rounded-t-lg">
                                <img src="{{ news_1.images.first.image.url }}"
                                    class="w-full h-full object-cover transform transition-transform duration-500 group-hover:scale-110 rounded-t-lg">
                            </div>
                            <div class="p-2 bg-white rounded-b-lg">
                                <h1 class="text-lg font-bold">{{ news_1.title }}</h1>
                                <p class="mt-1 text-gray-600">{{ news_1.date|date:"Y-m-d" }}</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="flex items-center justify-center mt-4">
                    <a href="{% url 'all_news' %}"
                        class="bg-gray-800 text-white font-semibold py-2 px-4 text-sm rounded transition duration-300 ease-in-out hover:bg-orange-600 no-underline">
                        全部新闻
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- 底栏 -->
    <footer class="bg-gray-800 text-white py-6 mt-12">
        <div class="container mx-auto px-6">
            <div class="flex flex-wrap justify-between">
                <!-- 关于我们 -->
                <div class="w-full md:w-1/4 mb-6 md:mb-0 pr-6">
                    <h4 class="text-xl font-bold mb-2">关于我们</h4>
                    <p class="text-gray-400 text-sm">我们是一群热爱CS2的玩家，致力于创建一个为广大CS2爱好者提供最新资讯、比赛信息和交流平台的空间。我们希望通过我们的努力，让更多人了解并加入到CS2的世界中，共同体验这款游戏的魅力。无论你是新手还是资深玩家，都能在这里找到你感兴趣的内容和志同道合的朋友</p>
                </div>
                <!-- 快速链接 -->
                <div class="w-full md:w-1/4 mb-6 md:mb-0">
                    <h4 class="text-xl font-bold mb-2">快速链接</h4>
                    <ul class="text-gray-400 text-sm">
                        <li><a href="{% url 'home' %}" class="hover:text-white">首页</a></li>
                        <li><a href="{% url 'home' %}all_news" class="hover:text-white">新闻</a></li>
                        <li><a href="{% url 'home' %}all_matches" class="hover:text-white">赛事</a></li>
                        <li><a href="{% url 'home' %}player_ranking" class="hover:text-white">选手</a></li>
                        <li><a href="{% url 'home' %}team_ranking" class="hover:text-white">队伍</a></li>
                    </ul>
                </div>
                <!-- 联系我们 -->
                <div class="w-full md:w-1/4 mb-6 md:mb-0">
                    <h4 class="text-xl font-bold mb-2">联系我们</h4>
                    <p class="text-gray-400 text-sm">有任何问题或建议，请通过以下方式联系我们：</p>
                    <p class="text-gray-400 text-sm mt-2"><i class="fas fa-envelope mr-2"></i>frediercyangjl@gmail.com</p>
                </div>
                <!-- 社交媒体 -->
                <div class="w-full md:w-1/4 mb-6 md:mb-0">
                    <h4 class="text-xl font-bold mb-2">关注我们</h4>
                    <div class="flex space-x-4">
                        <a href="https://space.bilibili.com/21671570" class="text-gray-400 hover:text-white"><i class="fab fa-bilibili fa-2x"></i></a>
                        <a href="https://qm.qq.com/q/V6c8E3ADQY" class="text-gray-400 hover:text-white"><i class="fab fa-qq fa-2x"></i></a>
                        <a href="https://www.instagram.com/frederic_yjl?igsh=bjNiZDk5c3N2cng3&utm_source=qr" class="text-gray-400 hover:text-white"><i class="fab fa-instagram fa-2x"></i></a>
                    </div>
                </div>
            </div>
            <div class="mt-6 border-t border-gray-700 pt-4 text-center">
                <p>人机交互小组</p>
                <p>小组成员：2153293 苏子言, 2153601 洪杨, 2151531 栾佳浩, 2152969 李咏桓, 2152594 杨举列</p>
                <p>&copy; 2024 All rights reserved.</p>
            </div>
        </div>
    </footer>

</body>

</html>