.mg{
	margin-top: 10px;
	display: flex;
	width: 60%;
}
.ranking_title {
	font-size:large;
	font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
	width: 60%;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: transparent;
    overflow: hidden;
	justify-content: space-around;
}
.ranking_item {
	width: 60%;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
	justify-content: space-around;
	margin-top: 5px;
}
.ranking_item:hover {
    background-color:rgba(50, 121, 165, 0.5);
}
.show_full_rank{
	margin-top: 10px;
	margin-bottom: 20px;
	display: flex;
	width: 50%;
	text-align: center;
	justify-content: space-around;
	border: 1px solid #ddd;
	border-radius: 4px;
	background-color: steelblue;
	color: white;
	text-decoration: none;
}
.show_full_rank .a{
	color: white;
	text-decoration: none;
}
.show_full_rank .a:hover{
	color: white;
	text-decoration: none;
}